@CHARSET "ISO-8859-1";
.header {
	background-color: #262626;
/* 	#db2f2f */
}

.logo {
	width:70%;
    margin-top: -8px;
}

.mynav {
	height: 80px;
}

.myusernav {
	
	color: white;
}
.nav > li > a:hover{
	background-color: #bc2121;
	color: white;
}

.nav .open > a:hover,
.nav .open > a {
  background-color: #bc2121;
}


