@CHARSET "ISO-8859-1";
.header {
	background-color: #db2f2f;
}

.logo {
	width:13%;
	height: auto; 
}

.mynav {
	height: 80px;
}

.myusernav {
	
	color: white;
}
.nav > li > a:hover{
	background-color: #bc2121;
	color: white;
}

.nav .open > a:hover,
.nav .open > a {
  background-color: #bc2121;
}
